:root {
  --background-color: #1a1a1a;
  --text-color: #c0c0c0;
  --accent-color: #f0bf72;
  --button-color: #f0bf72;
  --font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --navigation-height: 4rem;
}
