@import "./base.css";
:root {
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: var(--font-family);
}

#app {
  width: 100%;
  min-height: 100vh;
}
